html {
    font-size: 62.5%;
}



body {
    display: flex;
    background-color: #674BB0;


}

.background{
    margin-left: -70px;
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    display: flex;
    margin-left: 140px;
    padding-top: 54px;
}

.header img{   
    width: 215px;
}

.main {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    gap: 20px
}

.main .image img{
    margin-left: 103px;
    margin-top: 46px;
}

.main .side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px; 
    margin-top: 89px;
    margin-left: 31px;

}

.main .side h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: #FFF;
    padding-right: 100px;
}

.main .side p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: -10px;
    margin-left: 1px;
    color: #FFF;
    line-height: 27px;
}


.main .side .btn {
    font-size: 2rem;
    color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -5px;
    margin-left: 4px;
    width: 200px;
    height: 55px;
    text-align: center;
    text-justify: center;
    padding-top: 11.5px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s;
}

.main .side .btn:hover {
    color: #FFF;
    background-color: hsl(300, 69%, 71%);
}

.footer {
    font-size: 2rem;
    color: #fff;
}

.footer .social {
    position: absolute;
    right: 10px;
    bottom: 29px;
    margin: 20px 70px;

}

.footer .social .item {
    margin-left: 8px;
    padding: 8px 8px;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    transition: 0.3s;
}

.footer .social a:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}